<%= link_to 'New Post', new_post_path, class: 'new-post btn btn-default btn-sm' %>

<% @posts.each do |post| %>

<div class="post panel panel-default" id="<%= "post-#{post.id}" %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "&rarr; #{post.title}".html_safe, post.url, :target => "_blank" %>
      <% if current_user != post.user %>
      <small><%= link_to 'Edit', edit_post_path(post) %></small>
      <% end %>
    </h3>
    <span class="pull-right post-avatar"><%= gravatar_for(post.user, size: 24) %></span>
  </div>
  <div class="panel-body">
    <p class="lead"><%= simple_format(auto_link(post.description)) %></p>
    <ul class="tags-list pull-left">
      <lh>Tags:</lh>
      <% post.tags.each do |tag| %>
        <li><%= link_to tag.name, "/tags/#{tag.name}" %></li>
      <% end %>
    </ul>
    <p class="text-muted text-right"><%= post.created_at.in_time_zone.strftime("%b %d at %-I:%M %p") %></p>
    <% if post.user == current_user %>
      <p class="text-muted text-right"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Edit', edit_post_path(post) %></p>
    <% end %>
  </div>
  <ul class="list-group">
  <% post.comments.each do |comment| %>
    <li class="list-group-item clearfix" id="<%= "comment-#{comment.id}" %>">
      <div class="comment-gravatar pull-left"><%= gravatar_for(comment.user, size: 36) %></div>
      <div class="comment-timestamp pull-right"><%= comment.created_at.in_time_zone.strftime("%b %d at %-I:%M %p") %><br />
        <% if comment.user == current_user %>
          <p class="text-muted text-right"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
      <div class="comment-text"><%= simple_format(auto_link(comment.text)) %></div>

    </li>
  <% end %>
    <li class="list-group-item clearfix">
      <%= form_for(Comment.new, :html => { role: "form" }) do |f| %>
        <%= f.text_area :text, :placeholder => "Comment here...", :class => "form-control new-comment-textarea" %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.submit "Submit", :class => "btn btn-primary btn-sm pull-right new-comment-btn" %>
      <% end %>
    </li>
  </ul>
</div>

<% end %>